{{extend commonLayout}}
{{block 'css'}}
<link rel="stylesheet" type="text/css" href="{{_res_path}}Template/redCollection/redCollection.css"/>
{{/block}}
{{block 'main'}}
<div class="container">
    <!-- 整体背景图片 -->
    <img style="width: 1220px; height: 2320px; left: 0px; top: 0px; position: absolute" 
         src="{{_res_path}}imgs/redCollection/bg.webp" />
    
    <!-- 用户信息 -->
    <div class="user-profile-container" style="left: 42px; top: 153px; position: absolute;">
        <div class="profile-sidebar"></div>
        <div class="avatar-wrapper">
            <img class="user-avatar" src="{{userAvatar}}" data-qq-avatar="{{qqAvatarUrl}}" onerror="if(this.dataset.qqAvatar){this.src=this.dataset.qqAvatar;this.onerror=null;}else{this.style.display='none';var placeholder=this.nextElementSibling;if(placeholder&&placeholder.classList.contains('user-avatar-placeholder')){placeholder.style.display='block';}}" />
            <div class="user-avatar-placeholder" style="display: none;"></div>
        </div>
        <div class="user-meta">
            <div class="user-name">{{userName}}</div>
            <div class="user-rank">
                <span class="rank-text">{{userRank}}</span>
                {{if userRankImage}}
                <img class="rank-icon" src="{{_res_path}}{{userRankImage}}" alt="{{userRank}}" />
                {{/if}}
            </div>
        </div>
    </div>
    
    <!-- 赛季标题 -->
    <div class="season-title" 
         style="width: 252px; height: 63px; left: 924px; top: 43px; position: absolute; text-align: center; justify-content: center; display: flex; flex-direction: column">
        {{seasonDisplay}}
    </div>
    
    <!-- 主标题和描述 -->
    <div class="title-primary" style="width: 651px; left: 56px; top: 521px; position: absolute">{{title}}</div>
    <div class="subtitle" style="width: 760px; min-height: 27px; left: 44px; top: 637px; position: absolute">"{{subtitle}}"</div>
    <div class="decor-line" style="width: 2px; height: 52px; left: 50px; top: 692px"></div>
    <div class="description" 
         style="width: 744px; min-height: 52px; left: 61px; top: 692px; position: absolute; justify-content: center; display: flex; flex-direction: column">
        {{unlockDesc}}
    </div>
    
    <!-- 统计卡片背景 -->
    <img style="width: 369px; height: 200px; left: 41px; top: 763px; position: absolute" 
         src="{{_res_path}}imgs/template/redCollection/dw_bg.png" />
    <img style="width: 369px; height: 200px; left: 442px; top: 763px; position: absolute" 
         src="{{_res_path}}imgs/template/redCollection/dw_bg.png" />
    <img style="width: 369px; height: 200px; left: 843px; top: 763px; position: absolute" 
         src="{{_res_path}}imgs/template/redCollection/dw_bg.png" />
    
    <!-- 统计数据 -->
    <!-- 第一个卡片 -->
    <div class="stat-value" 
         style="width: 369px; left: 41px; top: 790px; position: absolute; display: flex; align-items: center; justify-content: center;">
        {{statistics.redGodCount}}
    </div>
    <div class="stat-label" 
         style="width: 369px; min-height: 44px; left: 41px; top: 905px; position: absolute; justify-content: center; display: flex; align-items: center;">
        收藏大红种数
    </div>
    
    <!-- 第二个卡片 -->
    <div class="stat-value" 
         style="width: 369px; left: 442px; top: 790px; position: absolute; display: flex; align-items: center; justify-content: center;">
        {{statistics.redTotalCount}}
    </div>
    <div class="stat-label" 
         style="width: 369px; min-height: 44px; left: 442px; top: 905px; position: absolute; justify-content: center; display: flex; align-items: center;">
        收藏大红个数
    </div>
    
    <!-- 第三个卡片 -->
    <div class="large-value" 
         style="width: 369px; left: 843px; top: 790px; position: absolute; display: flex; align-items: center; justify-content: center;">
        {{statistics.redTotalValue}}
    </div>
    <div class="stat-label" 
         style="width: 369px; min-height: 44px; left: 843px; top: 905px; position: absolute; justify-content: center; display: flex; align-items: center;">
        收藏大红价值
    </div>
    
    <!-- "大红收藏馆"标题背景 -->
    <img style="width: 1144px; height: 125px; left: 43px; top: 990px; position: absolute" 
         src="{{_res_path}}imgs/template/redCollection/red_tit.webp" />
    
    <!-- 收藏品背景卡片 (9个位置) -->
    <img style="width: 369px; height: 297px; left: 34px; top: 1200px; position: absolute" 
         src="{{_res_path}}imgs/template/redCollection/red_bg2.png" />
    <img style="width: 369px; height: 297px; left: 435px; top: 1200px; position: absolute" 
         src="{{_res_path}}imgs/template/redCollection/red_bg2.png" />
    <img style="width: 369px; height: 297px; left: 836px; top: 1200px; position: absolute" 
         src="{{_res_path}}imgs/template/redCollection/red_bg2.png" />
    <img style="width: 369px; height: 297px; left: 34px; top: 1537px; position: absolute" 
         src="{{_res_path}}imgs/template/redCollection/red_bg2.png" />
    <img style="width: 369px; height: 297px; left: 435px; top: 1537px; position: absolute" 
         src="{{_res_path}}imgs/template/redCollection/red_bg2.png" />
    <img style="width: 369px; height: 297px; left: 836px; top: 1537px; position: absolute" 
         src="{{_res_path}}imgs/template/redCollection/red_bg2.png" />
    <img style="width: 369px; height: 297px; left: 34px; top: 1978px; position: absolute" 
         src="{{_res_path}}imgs/template/redCollection/red_bg2.png" />
    <img style="width: 369px; height: 297px; left: 435px; top: 1978px; position: absolute" 
         src="{{_res_path}}imgs/template/redCollection/red_bg2.png" />
    <img style="width: 369px; height: 297px; left: 836px; top: 1978px; position: absolute" 
         src="{{_res_path}}imgs/template/redCollection/red_bg2.png" />
    
    <!-- 收藏品展示 - TOP 1 -->
    {{if topCollections[0]}}
    <div style="width: 174px; height: 174px; left: 126px; top: 1240px; position: absolute;">
        <img class="collection-item-image" src="{{topCollections[0].imageUrl}}" onerror="this.style.display='none'" />
    </div>
    <div class="data-text collection-name" 
         style="width: 239px; min-height: 24px; left: 82px; top: 1210px; position: absolute; justify-content: center; display: flex; flex-direction: column">
        {{topCollections[0].name}}
    </div>
    <div class="data-text" 
         style="width: 70px; min-height: 24px; left: 321px; top: 1210px; position: absolute; text-align: right; justify-content: center; display: flex; flex-direction: column">
        {{topCollections[0].count}}个
    </div>
    <div class="data-text value-text" 
         style="width: 217px; min-height: 24px; left: 99px; top: 1410px; position: absolute; text-align: center; justify-content: center; display: flex; flex-direction: column">
        {{topCollections[0].value}}
    </div>
    {{/if}}
    
    <!-- 收藏品展示 - TOP 2 -->
    {{if topCollections[1]}}
    <div style="width: 174px; height: 174px; left: 533px; top: 1240px; position: absolute;">
        <img class="collection-item-image" src="{{topCollections[1].imageUrl}}" onerror="this.style.display='none'" />
    </div>
    <div class="data-text collection-name" 
         style="width: 239px; min-height: 24px; left: 484px; top: 1210px; position: absolute; justify-content: center; display: flex; flex-direction: column">
        {{topCollections[1].name}}
    </div>
    <div class="data-text" 
         style="width: 70px; min-height: 24px; left: 723px; top: 1210px; position: absolute; text-align: right; justify-content: center; display: flex; flex-direction: column">
        {{topCollections[1].count}}个
    </div>
    <div class="data-text value-text" 
         style="width: 217px; min-height: 24px; left: 512px; top: 1410px; position: absolute; text-align: center; justify-content: center; display: flex; flex-direction: column">
        {{topCollections[1].value}}
    </div>
    {{/if}}
    
    <!-- 收藏品展示 - TOP 3 -->
    {{if topCollections[2]}}
    <div style="width: 174px; height: 174px; left: 935px; top: 1240px; position: absolute;">
        <img class="collection-item-image" src="{{topCollections[2].imageUrl}}" onerror="this.style.display='none'" />
    </div>
    <div class="data-text collection-name" 
         style="width: 239px; min-height: 24px; left: 886px; top: 1210px; position: absolute; justify-content: center; display: flex; flex-direction: column">
        {{topCollections[2].name}}
    </div>
    <div class="data-text" 
         style="width: 70px; min-height: 24px; left: 1125px; top: 1210px; position: absolute; text-align: right; justify-content: center; display: flex; flex-direction: column">
        {{topCollections[2].count}}个
    </div>
    <div class="data-text value-text" 
         style="width: 217px; min-height: 24px; left: 912px; top: 1410px; position: absolute; text-align: center; justify-content: center; display: flex; flex-direction: column">
        {{topCollections[2].value}}
    </div>
    {{/if}}
    
    <!-- 收藏品展示 - 第4个 -->
    {{if topCollections[3]}}
    <div style="width: 174px; height: 174px; left: 126px; top: 1577px; position: absolute;">
        <img class="collection-item-image" src="{{topCollections[3].imageUrl}}" onerror="this.style.display='none'" />
    </div>
    <div class="data-text collection-name" 
         style="width: 239px; min-height: 24px; left: 82px; top: 1547px; position: absolute; justify-content: center; display: flex; flex-direction: column">
        {{topCollections[3].name}}
    </div>
    <div class="data-text" 
         style="width: 70px; min-height: 24px; left: 321px; top: 1547px; position: absolute; text-align: right; justify-content: center; display: flex; flex-direction: column">
        {{topCollections[3].count}}个
    </div>
    <div class="data-text value-text" 
         style="width: 217px; min-height: 24px; left: 99px; top: 1747px; position: absolute; text-align: center; justify-content: center; display: flex; flex-direction: column">
        {{topCollections[3].value}}
    </div>
    {{/if}}
    
    <!-- 收藏品展示 - 第5个 -->
    {{if topCollections[4]}}
    <div style="width: 174px; height: 174px; left: 533px; top: 1577px; position: absolute;">
        <img class="collection-item-image" src="{{topCollections[4].imageUrl}}" onerror="this.style.display='none'" />
    </div>
    <div class="data-text collection-name" 
         style="width: 239px; min-height: 24px; left: 484px; top: 1547px; position: absolute; justify-content: center; display: flex; flex-direction: column">
        {{topCollections[4].name}}
    </div>
    <div class="data-text" 
         style="width: 70px; min-height: 24px; left: 723px; top: 1547px; position: absolute; text-align: right; justify-content: center; display: flex; flex-direction: column">
        {{topCollections[4].count}}个
    </div>
    <div class="data-text value-text" 
         style="width: 217px; min-height: 24px; left: 512px; top: 1747px; position: absolute; text-align: center; justify-content: center; display: flex; flex-direction: column">
        {{topCollections[4].value}}
    </div>
    {{/if}}
    
    <!-- 收藏品展示 - 第6个 -->
    {{if topCollections[5]}}
    <div style="width: 174px; height: 174px; left: 935px; top: 1577px; position: absolute;">
        <img class="collection-item-image" src="{{topCollections[5].imageUrl}}" onerror="this.style.display='none'" />
    </div>
    <div class="data-text collection-name" 
         style="width: 239px; min-height: 24px; left: 886px; top: 1547px; position: absolute; justify-content: center; display: flex; flex-direction: column">
        {{topCollections[5].name}}
    </div>
    <div class="data-text" 
         style="width: 70px; min-height: 24px; left: 1125px; top: 1547px; position: absolute; text-align: right; justify-content: center; display: flex; flex-direction: column">
        {{topCollections[5].count}}个
    </div>
    <div class="data-text value-text" 
         style="width: 217px; min-height: 24px; left: 912px; top: 1747px; position: absolute; text-align: center; justify-content: center; display: flex; flex-direction: column">
        {{topCollections[5].value}}
    </div>
    {{/if}}
    
    <!-- 未解锁提示区域 -->
    {{if statistics.unlockedCount}}
    <div style="width: 976px; height: 55px; left: 56px; top: 1856px; position: absolute; justify-content: flex-start; display: flex; flex-direction: row; align-items: center; white-space: nowrap;">
        <span class="normal-text">你还有</span>
        <span class="highlight-text">{{statistics.unlockedCount}}个</span>
        <span class="normal-text">未解锁的大红藏品</span>
    </div>
    <div class="decor-line" style="width: 2px; height: 52px; left: 46px; top: 1859px;"></div>
    {{/if}}
    
    <!-- 未解锁藏品展示 -->
    {{if unlockedCollections[0]}}
    <div style="width: 174px; height: 174px; left: 126px; top: 2018px; position: absolute;">
        <img class="collection-item-image" src="{{unlockedCollections[0].imageUrl}}" onerror="this.style.display='none'" />
    </div>
    <div class="data-text collection-name" 
         style="width: 239px; min-height: 24px; left: 82px; top: 1988px; position: absolute; justify-content: center; display: flex; flex-direction: column">
        {{unlockedCollections[0].name}}
    </div>
    <div class="data-text value-text" 
         style="width: 217px; min-height: 24px; left: 99px; top: 2188px; position: absolute; text-align: center; justify-content: center; display: flex; flex-direction: column">
        {{unlockedCollections[0].price}}
    </div>
    {{/if}}
    
    {{if unlockedCollections[1]}}
    <div style="width: 174px; height: 174px; left: 533px; top: 2018px; position: absolute;">
        <img class="collection-item-image" src="{{unlockedCollections[1].imageUrl}}" onerror="this.style.display='none'" />
    </div>
    <div class="data-text collection-name" 
         style="width: 239px; min-height: 24px; left: 484px; top: 1988px; position: absolute; justify-content: center; display: flex; flex-direction: column">
        {{unlockedCollections[1].name}}
    </div>
    <div class="data-text value-text" 
         style="width: 217px; min-height: 24px; left: 512px; top: 2188px; position: absolute; text-align: center; justify-content: center; display: flex; flex-direction: column">
        {{unlockedCollections[1].price}}
    </div>
    {{/if}}
    
    {{if unlockedCollections[2]}}
    <div style="width: 174px; height: 174px; left: 935px; top: 2018px; position: absolute;">
        <img class="collection-item-image" src="{{unlockedCollections[2].imageUrl}}" onerror="this.style.display='none'" />
    </div>
    <div class="data-text collection-name" 
         style="width: 239px; min-height: 24px; left: 886px; top: 1988px; position: absolute; justify-content: center; display: flex; flex-direction: column">
        {{unlockedCollections[2].name}}
    </div>
    <div class="data-text value-text" 
         style="width: 217px; min-height: 24px; left: 912px; top: 2188px; position: absolute; text-align: center; justify-content: center; display: flex; flex-direction: column">
        {{unlockedCollections[2].price}}
    </div>
    {{/if}}
    
    <!-- 页脚 -->
    <div class="template-footer">
        <div class="copyright-text">由 DeltaForce-Plugin-Yunzai 强力驱动</div>
    </div>
</div>
{{/block}}
{{block 'footer'}}{{/block}}