<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="shortcut icon" href="#" />
  <link rel="stylesheet" type="text/css" href="{{_res_path}}Template/common/common.css"/>
  <title>delta-force-plugin</title>
  {{block 'css'}}
  {{/block}}
</head>
<body>
  {{block 'main'}}{{/block}}
  {{block 'footer'}}
  <div class="template-footer">
    <div class="copyright-text">由 DeltaForce-Plugin-Yunzai 强力驱动</div>
  </div>
  {{/block}}
</body>
</html>
